#canvas {
    border: 2px;
    border-style: solid;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #27496d; 
    border-color: #d45079;
}

header {
    color: #d45079;
    font-size: 5em;
    margin-bottom: 0.5em;
}

#predict {
    background-color: #d45079;
    font-size: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

h1 {

    font-size: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body {
    background-color: #162447;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
